*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.navbar {
  background: #800080;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logoutBtn {
  background: none;
  color: #fff;
  padding-right: 40px;
  border: none;
  cursor: pointer;
}

.logoutBtn:hover { background: #ca31ca; }

h2, h3 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 20px
   }

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add_btn{
  background: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  cursor: pointer;
}

.add_btn:hover { background: #ca31ca; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.status-Available { background: #d4edda; }
.status-Checked\ Out { background: #f8d7da; }

.error { color: red; text-align: center; }

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr { display: block; }
  th { background: #eee; }
}

